@model Maintenance.Web.Models.PageContentViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.Raw(Model.TopContent)
    </div>
    <div class="panel-body">
        @Html.Raw(Model.BottomContent)
    </div>
</div>